TOKEN="<!DISCORD BOT TOKEN!>"

DB_URL="<mongodb://... (including credentials)> should kinda work without a database connection, but will not persist data across restarts"
DB_NAME="okbot"
INIT_STORE=true
INIT_GAY=true
VERBOSE=true

GENIUS_CLIENT_TOKEN="<Optional Genius API token for lyrics command>"

T50_IMG_PATH="../img/t50chart/"
T50_AV_PATH="../img/t50chart/av/"
IMG_EDIT_PATH="../img/edit/"

SOCKET_URI="https://poggers.ltd"
SOCKET_PATH="/socket.io/poggers"
SOCKET_ROOM_NAME="ranking-update-listeners"

# Optional settings.json override
BOT_OWNER="<!Your discord account id here, can be multiple separated by comma (,)!>"
BOT_ADMIN="<!Your discord account id here, can be multiple separated by comma (,)!>"

# PREFIX="k!"
# PREFIX_MOD="k@"
